<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <button onclick="window.location  = '/logout'">logout</button>
    <button onclick="window.location = '/'">Home</button>
    <form action="/post" method="POST">
        <input tpye="text" placeholder="post here....." name="post">
        <button type="submit">Post</button>
    </form>
</body>
</html>