<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
</head>
<body>
    <h1>{{title}}</h1>
    <button onclick="window.location='/signup'">Signup</button>
    <button onclick="window.location='/login'">Log in</button>
</body>
</html>